
    @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto&family=Roboto+Slab&display=swap');

    body{
        font-family: 'Roboto';
    }
    header .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    li{
        list-style: none;
    }  
    .container{
        max-width: 1280px;
        width: 100%;
        margin: 20px;
    }
    
    header ul{
        display: flex;
    }
    header ul li {
        margin-right: 20px;
    }
    header p {
        font-weight: 500;
        font-size: 20px;
    }
    nav :hover{
        background: #cac2c2;;
        color:#bd3838;
        transition: .4s;
        border-radius: 30px;
    }
    #encabezado{
        background: url(/img/vino1_fotos.jpg);
        background-size: cover;
        background-position: center;
        padding: 70px 0;
    }  

    .container h1{
        font-size: 90px;
        font-family: 'Lora';
        text-align: center;
        background-color: #ae5a5a;
        text-shadow: 2px 2px red;   
    }
    #encabezado p{
        text-align: justify;
        width: 80%;
        color: rgb(255, 255, 255);
        margin-bottom: 50px;
        font-size: 30px;
        text-shadow: 2px 2px rgb(212, 72, 72); 
        
    }
    #encabezado a, #contact a{
        text-decoration: none;
        color:#bd3838;
        border: 2px solid #cac2c2;
        padding: 10px 40px 20px 40px;
        font-weight: bold;
    }
    #encabezado a:hover,
    #contact a:hover{
        background: #cac2c2;
        color:#bd3838;
        transition: .4s;
    }
     #logo img{
        width: 90px;
        height: 90px;
        box-shadow: 10px 10px rgb(154, 183, 192);
       
    }
       
    nav a{
        text-decoration: none;
        font-size: 20px;
        color:black;
    }
                            /* INICIO slider */
    #container{
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        margin:0 0 0 50px;
    }                 
                            /* FIN slider */

                    /*----INICIO COLUMNAS -----*/
    .container h2{
        text-align: center;
    }
    .columnas{
        display: grid;
    }
    .columna img{
        width: 20%;
    }
    .columana p{
        color:#380400;
    }
                    /* ----FIN COLUMNAS------ */


                    /*----INICIO SECTION CONTAC--- */
    #contact{
        display: flex;
        justify-content: center;
        background: url(/img/fondo.jpg);
        background-size: cover;
        padding: 80px 0;
    }
    #contact .izquierdo{
        width: 60%;
    }
    #contact h2{
        font-size: 60px;
        font-family: 'Lora';
        color: #e4e007;
        margin-bottom: 50px;
    }
    #contact .izquierdo p{
        font-size: 20px;
        color: #cfc8c8;
        margin: 40px;
    }
   .iconos{
    display: grid;
    grid-template-rows: 1fr,1fr;
    justify-content: space-around;
    margin-left: 30px;
    max-width: 100px;
    }
    #contact .derecha{
       background: #380400;
        color: #fff;
        padding: 50px 30px;
    }
    .logo img{
        position: relative;
        right: -150px;
        max-width: 100px;
        height: 100px;
        box-shadow: 10px 10px lightblue;
    }
    .guardas{
        display:flex;
        justify-content:space-around;
        align-items: center;
        margin:0, 1000px, 0, 0;
    }
    .guardas img{
      width: 100px;
      height: 100px;
    }
    
 
                /* -----FIN SECTION CONTAC ------*/
    .datos{
        font-size: 20px;
    }
    .derecha h3{
        font-size: 40px;
    }
    
    